.landing-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid black;
    height: 50vh;
    width: 60vw;
    margin-left: 20vw;
    background-color: white;
    position: relative;
    top: 25%;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.sign-up-form-container {
    border: 1px solid black;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    height: 50%;
    background-color: white;
}

.welcome-tag {
    margin-top: 15%;
    font-size: 50px;
}

.sign-up-tag {
    display: flex;
    justify-content: center;
}

.background {
    background-image: url(https://i.ibb.co/6m98smt/create-anime-background-style.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
