.post-bar-container {
    border: 1px solid black;
    height: 10vh;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 50vw;
    justify-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.post-image {
    height: 126%;
    width: 20%;
    margin-right: 20px;
    margin-top: -15px;
}

.post-name {
    font-size: 24px;
    margin-block-start: 0;
    margin-block-end: 5px;
    font-weight: bold;
}
.post-description {
    font-size: 17px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.post-name-description-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 6vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

