.sign-up-container {
    display: flex;
}

.sign-up-form-input {
    margin-bottom: 9%;
}

.sign-up-form-input-container {
    display: flex;
    justify-content: center;
    width: 15vw;
}

.log-in-nav-link {
    display: flex;
    flex-wrap: wrap;
    margin-top: 18%;
}
.sign-up-form-login-link {
    margin-bottom: 5%;
}

.sign-up-form-error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.sign-up-form-submit {
    background-color: orange;
    color: white;
    height: 200%;
    font-weight: bold;
    font-size: 17px;
    border-radius: 8px;
}

.sign-up-form-demo-login {
    background-color: orange;
    color: white;
    height: 200%;
    font-weight: bold;
    font-size: 17px;
    border-radius: 8px;
}

.sign-up-form-demo {
    background-color: orange;
    color: white;
    height: 200%;
    font-weight: bold;
    font-size: 17px;
    border-radius: 8px;
}
