.form-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-container {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 40vw;
    margin-top: 50px;
    align-items: center;

}

.post-form-input {
    height: 3vh;
    margin-bottom: 5%;
    width: 70%;
}

.post-form-description {
    height: 50%;
    margin-bottom: 5%;
    width: 90%;

}

.post-submit-button {
    width: 10%;
}

.modal-wrapper {
    width: 45vw;
    height: 55%;
    background-color: rgba(255, 255, 255, 1);
    justify-content:center;
    align-items: center;
    position: fixed;
    top: 20%;
    right: 27.5%;
    display: block;
    border: 1px solid rgb(189, 195, 199);
    overflow-y: auto;
    border-radius: 8px;

}

.new-post-buttons-container {
    display: flex;
}

.new-post-submit-button {
    background-color: orange;
    color: white;
    height: 200%;
    margin-left: -20%;
    font-weight: bold;
    font-size: 17px;
    border-radius: 8px;
}

.new-post-cancel-button {
    background-color: orange;
    color: white;
    height: 200%;
    margin-left: 20%;
    font-weight: bold;
    font-size: 17px;
    border-radius: 8px;
}
