.count {
    margin-right: 100px;
    font-weight: 500;
    font-size: 18px;
    padding: 0;
    margin: 10px 10px 10px 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.upvoteContainer {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10%;
}

.counter-container {
    margin-right: 40px;
}
