.modal-wrapper {
    width: 45vw;
    height: 60vh;
    background-color: rgba(255, 255, 255, 1);
    justify-content:center;
    align-items: center;
    position: fixed;
    bottom: 100px;
    margin-right: 27%;
}
